.aboutMain {
    display: flex;
    margin-top: 4rem;
    margin-bottom: 10rem;
    height: 70vh;
    width: 100vw;
    background-color: rgb(85, 85, 85);
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes fade {
    from {opacity: 0;}
    to{opacity: 1;}
}

.introAbout {
    color: rgb(236, 236, 236);
    line-height: 1.4;
    padding-top: 1rem;
    padding-left: 7rem;
    font-size: 2rem;
}

.aboutGraph {
    position: relative;
    height: 100%;
    width: 100%;
}

.verticalLine {
    position: absolute;
    top: 15%;
    left: 50%;
    height: 60%;
    width: 2px;
    background-color: rgb(243, 64, 64);
}

.horizontal_line1 {
    position: absolute;
    top: 20%;
    left: 43%;
    height: 2px;
    width: 7%;
    background-color: rgb(243, 64, 64);
}

.horizontal_line2 {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 2px;
    width: 7%;
    background-color: rgb(243, 64, 64);
}

.horizontal_line3 {
    position: absolute;
    top: 50%;
    left: 41%;
    height: 2px;
    width: 9%;
    background-color: rgb(243, 64, 64);
}

.horizontal_line4 {
    position: absolute;
    top: 69%;
    left: 50%;
    height: 2px;
    width: 8%;
    background-color: rgb(243, 64, 64);
}

.box1Container {
    position: absolute;
    bottom: 72%;
    right: 57%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    from {transform: rotateX(0deg);}
    to {transform: rotateX(360deg);}
}

.box1Content {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.box1Container:hover .box1Content {
    transform: rotateY(180deg);
}

.box1Front{
    padding: 1rem 2rem;
    color:rgb(87, 87, 87);
    border: 3px solid rgb(255, 242, 66);
    background-color: white;
    backface-visibility: hidden;
}

.box1Back {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    font-weight: 500;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 255, 206);
    border: 2px solid rgb(243, 64, 64);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.box2Container {
    position: absolute;
    top: 26%;
    left: 57%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: .1s;
}

.box2Content {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.box2Container:hover .box2Content {
    transform: rotateY(180deg);
}

.box2Front{
     backface-visibility: hidden;
     padding: 1rem 2rem;
     color: rgb(87, 87, 87);
     border: 3px solid rgb(255, 242, 66);
     background-color: white;
}

.box2Back {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    font-weight: 500;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 255, 206);
    border: 2px solid rgb(243, 64, 64);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.box3Container {
    position: absolute;
    top: 42%;
    right: 59%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: .2s;
}

.box3Content {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.box3Container:hover .box3Content {
    transform: rotateY(180deg);
}

.box3Front{
     backface-visibility: hidden;
     padding: 1rem 2rem;
     color: rgb(87, 87, 87);
     border: 3px solid rgb(255, 242, 66);
     background-color: white;
}

.box3Back {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    font-weight: 500;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 255, 206);
    border: 2px solid rgb(243, 64, 64);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.box4Container {
    position: absolute;
    top: 61%;
    left: 58%;
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
}

.box4Content {
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.box4Container:hover .box4Content {
    transform: rotateY(180deg);
}

.box4Front{
     backface-visibility: hidden;
     padding: 1rem 2rem;
     color: rgb(87, 87, 87);
     border: 3px solid rgb(255, 242, 66);
     background-color: white;
}

.box4Back {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1em;
    font-weight: 500;
    color: rgb(54, 54, 54);
    background-color: rgb(255, 255, 206);
    border: 2px solid rgb(243, 64, 64);
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}