.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 4rem;
    width: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

.toggle-button:hover {
    outline-color: rgb(199, 191, 81);
    background-color: rgb(216, 207, 84);
    border-radius: 5px;
}

.toggle-button:focus {
    outline:0;
}

.toggle-button_line {
    width: 4rem;
    height: 5px;
    background: white
}