.side-drawer {
    background-color: rgb(216, 216, 216);
    position: fixed;
    height: 100%;
    width: 13rem;
    box-shadow: 2px 0 15px rgba(97, 97, 97, 0.5);
    top: 0;
    left: 0;
    padding-top: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    z-index: 200;
}

.side-drawer.open {
    transform: translateX(0);
}

.side-drawer ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.side-drawer li {
    margin-top: 1rem;
    margin-left: 0.5rem;
}
