html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(185, 185, 12);
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
}

h1 {
    font-family: 'Exo 2', sans-serif;
}