.homeTransitionChild {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transitionChildContent1, transitionChildContent2, transitionChildContent3, a  {
    text-decoration: none;
    color: rgb(77, 77, 77);
}

.transitionChildParent {
    display: flex;
    justify-content: center;
}

.transitionChildContent1, .transitionChildContent2, .transitionChildContent3 {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 3rem;
    background-color: rgb(199, 191, 81);
    border-bottom:2px solid rgb(250, 72, 72);
    margin: 0 3rem;
    opacity: 0;
    animation-name: childContent;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

.transitionChildContent1:hover, .transitionChildContent2:hover, .transitionChildContent3:hover {
    border-bottom: 1px solid rgb(255, 255, 70);
    transition: transform 0.3s ease-out;
}

.transitionChildContent1 {
    animation-duration: 1s;
}

.transitionChildContent2 {
    animation-duration: 1.5s;
}

.transitionChildContent3 {
    animation-duration: 2s;
}

@keyframes childContent{
    0%{bottom:-50vh}
    100%{bottom: 0px}
    from {opacity:0;}
    to {opacity:1;}
}

