.homeTransitionChild {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.transitionChildParent {
    display: flex;
    justify-content: center;
}

.transitionChildContent {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 3rem;
    background-color: rgb(199, 191, 81);
    border-bottom:2px solid rgb(250, 72, 72);
    color: rgb(77, 77, 77);
    margin: 0 3rem;
    animation-name: childContent;
    animation-duration: 3.5s;
}

@keyframes childContent{
    0%{bottom:-350vh}
    100%{bottom: 0px}
}

